# Import of Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn import decomposition

# File read

In [7]:
# Set display options
pd.set_option("display.max_rows", 15)
pd.options.mode.chained_assignment = None

# File paths
dataset_folder = 'Datasets'
filename1 = f'{dataset_folder}/data11tumors2.csv'
filename2 = f'{dataset_folder}/plasma_tumor.csv'
filename3 = f'{dataset_folder}/brain_tumor.csv'

# Reading the CSV files
training_data1 = pd.read_csv(filename1)
training_data2 = pd.read_csv(filename2)
training_data3 = pd.read_csv(filename3)

# Displaying the data from the three CSV files
print("Data from the first CSV file (data11tumors2.csv):")
print(training_data1)
print("\nData from the second CSV file (plasma_tumor.csv):")
print(training_data2)
print("\nData from the third CSV file (brain_tumor.csv):")
print(training_data3)

Data from the first CSV file (data11tumors2.csv):
     Class   D1   D2   D3  D4   D5   D6    D7   D8    D9  ...  D12524  D12525  \
0        7  153  228   32  30  -36   48   984  -19   537  ...     100      30
1        7  154   99   43  55   66   63  5051  -26  1001  ...      27      43
2        7   84   85   19  28 -104   28  2387  -80  1131  ...     -32      51
3        7  234  169   40  36   81    6  2657   -6  1214  ...      43      52
4        7  104   58   42  13  107    5  3562   18  1464  ...     159      42
..     ...  ...  ...  ...  ..  ...  ...   ...  ...   ...  ...     ...     ...
169      0  157  578   40  58    5  -49    57  -29  3306  ...       4      45
170      0  286  882  110 -19 -142  -66    -5   23  2701  ...     -91     130
171      0  579  667   55 -41  -98 -138  -164  -61  2812  ...    -110     107
172      0  252  582   88   3   44 -162   553 -150  2020  ...     -66      92
173      0   83  420   14  84   12    1   153  -38  1833  ...      -5      85

     D12526  D12527  D12528  D12529  D12530  D12531  D12532  D12533
0        83      28      57     106     128       5      74    -188
1        90      30      82     485     896      -2      91     -78
2       110      10      86      62      76     -47      92    -103
3        82      12     135      60      69      22      89    -180
4        73       1      82      60      50      30      74    -198
..      ...     ...     ...     ...     ...     ...     ...     ...
169      64      37     169      91     180      -4      60    -142
170     137     -61      75      36      58      44     161    -433
171     199     -60      59       8      77     -42     171    -371
172     -26     -44     148      43      73       0     201    -333
173      96      92      67      32      30      12      80    -180

[174 rows x 12534 columns]

Data from the second CSV file (plasma_tumor.csv):
     Class   D1   D2   D3  D4   D5   D6    D7   D8    D9  ...  D12524  D12525  \
0        6  164  235   27  37  -36   47   962    1   534  ...      91      26
1        6  160   91   45  62   72   57  5079  -30   993  ...      24      46
2        7   89   66   18  28 -105   27  2487  -69  1067  ...     -25      49
3        7  227  158   41  34   86    7  2626  -79  1260  ...      32      50
4        7   96   77   40  12  122    5  3505   63  1481  ...     162      39
..     ...  ...  ...  ...  ..  ...  ...   ...  ...   ...  ...     ...     ...
169      0  156  558   39  54   -6  -52    67   29  3263  ...       8      48
170      0  290  854  111 -18 -142  -63   -72   -1  2709  ...     -88     127
171      0  578  678   58 -36 -102 -135  -221 -113  2849  ...    -113     109
172      0  246  583   87   0   41 -162   508 -192  2007  ...     -64      89
173      0   83  415   13  89   13    5   201 -101  1864  ...      -3      86

     D12526  D12527  D12528  D12529  D12530  D12531  D12532  D12533
0        78      26      57     102     134       5      20    -175
1        88      27      75     480     892      -2     115     -76
2       111       9      78      56      79     -46     117    -108
3        78      12     140      63      59      22      73    -178
4        80      -3      81      61      59      29      83    -208
..      ...     ...     ...     ...     ...     ...     ...     ...
169      61      38     168      93     183      -5      81    -148
170     135     -61      80      35      58      43     165    -429
171     199     -60      53      10      77     -42     173    -366
172     -18     -39     151      36      71      -1     233    -341
173      92      98      65      31      23      11      70    -174

[174 rows x 12534 columns]

Data from the third CSV file (brain_tumor.csv):
     Class   D1   D2   D3  D4   D5   D6    D7   D8    D9  ...  D12524  D12525  \
0        7  149  235   33  20  -40   52   905  -24   547  ...      95      31
1        6  154   89   44  61   62   62  4955  -14   988  ...      26      40
2        6   87   82   18  21 -107   28  2347 -166  1167  ...     -38      53
3        6  239  150   40  40   95    6  2624   32  1188  ...      47      56
4        6  104   47   47  19  113    4  3618    3  1476  ...     165      45
..     ...  ...  ...  ...  ..  ...  ...   ...  ...   ...  ...     ...     ...
169      0  150  578   40  59   16  -51    16  -31  3280  ...       6      45
170      0  292  900  111 -17 -132  -67   -33  -50  2676  ...     -94     128
171      0  592  665   54 -39 -101 -131  -160  -36  2735  ...    -108     104
172      0  252  575   88   4   44 -167   576 -119  2045  ...     -63      95
173      0   99  410   15  86    5    1   115  -40  1744  ...      -2      79

     D12526  D12527  D12528  D12529  D12530  D12531  D12532  D12533
0        84      28      59     102     132       5      54    -202
1        91      32      82     482     889      -4      97     -65
2       108       8      85      58      72     -47      94     -94
3        79      10     132      58      71      21      74    -181
4        68      -1      81      59      33      29      86    -182
..      ...     ...     ...     ...     ...     ...     ...     ...
169      66      38     167      87     176      -2      59    -127
170     131     -66      73      31      63      45     184    -413
171     195     -59      62       0      77     -41     165    -379
172     -25     -44     148      44      75       0     214    -332
173      94      92      72      31      17      11      65    -177

[174 rows x 12534 columns]

# Concatenating data

In [8]:
# Concatenate the dataframes
training_data = pd.concat([training_data1, training_data2, training_data3], ignore_index=True)

# Display the combined dataframe
print(training_data)

     Class   D1   D2   D3  D4   D5   D6    D7   D8    D9  ...  D12524  D12525  \
0        7  153  228   32  30  -36   48   984  -19   537  ...     100      30
1        7  154   99   43  55   66   63  5051  -26  1001  ...      27      43
2        7   84   85   19  28 -104   28  2387  -80  1131  ...     -32      51
3        7  234  169   40  36   81    6  2657   -6  1214  ...      43      52
4        7  104   58   42  13  107    5  3562   18  1464  ...     159      42
..     ...  ...  ...  ...  ..  ...  ...   ...  ...   ...  ...     ...     ...
517      0  150  578   40  59   16  -51    16  -31  3280  ...       6      45
518      0  292  900  111 -17 -132  -67   -33  -50  2676  ...     -94     128
519      0  592  665   54 -39 -101 -131  -160  -36  2735  ...    -108     104
520      0  252  575   88   4   44 -167   576 -119  2045  ...     -63      95
521      0   99  410   15  86    5    1   115  -40  1744  ...      -2      79

     D12526  D12527  D12528  D12529  D12530  D12531  D12532  D12533
0        83      28      57     106     128       5      74    -188
1        90      30      82     485     896      -2      91     -78
2       110      10      86      62      76     -47      92    -103
3        82      12     135      60      69      22      89    -180
4        73       1      82      60      50      30      74    -198
..      ...     ...     ...     ...     ...     ...     ...     ...
517      66      38     167      87     176      -2      59    -127
518     131     -66      73      31      63      45     184    -413
519     195     -59      62       0      77     -41     165    -379
520     -25     -44     148      44      75       0     214    -332
521      94      92      72      31      17      11      65    -177

[522 rows x 12534 columns]

# Basic statistics

In [9]:
training_data.describe()

,Class,D1,D2,D3,D4,D5,D6,D7,D8,D9,...,D12524,D12525,D12526,D12527,D12528,D12529,D12530,D12531,D12532,D12533
count,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,...,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000
mean,4.126437,218.344828,537.446360,71.601533,83.657088,-67.272031,-16.519157,646.197318,76.814176,1471.726054,...,-1.365900,92.829502,137.699234,2.913793,97.848659,62.722222,101.703065,12.808429,206.946360,-220.392720
std,3.173685,117.286482,269.053809,43.737551,122.380386,140.971045,62.735473,1090.246726,861.409973,648.749238,...,95.986395,45.916302,67.569454,44.221548,95.636799,80.497860,127.209101,27.205158,402.859135,216.994434
min,0.000000,-124.000000,12.000000,-24.000000,-83.000000,-916.000000,-208.000000,-559.000000,-227.000000,-19.000000,...,-239.000000,10.000000,-26.000000,-146.000000,-349.000000,-187.000000,-79.000000,-56.000000,7.000000,-992.000000
25%,2.000000,148.250000,359.000000,44.000000,24.250000,-132.000000,-58.000000,-40.000000,-75.000000,1045.500000,...,-54.000000,60.000000,92.250000,-19.000000,44.250000,14.000000,19.250000,-4.000000,97.000000,-328.750000
50%,3.000000,208.500000,515.000000,65.000000,64.500000,-46.000000,-13.000000,135.500000,-36.000000,1425.500000,...,-5.000000,88.000000,131.000000,7.000000,113.000000,44.000000,71.000000,9.000000,145.000000,-213.500000
75%,7.000000,284.500000,702.000000,88.000000,110.750000,27.000000,24.750000,853.250000,2.000000,1770.000000,...,42.000000,119.000000,169.000000,32.750000,157.000000,95.750000,145.000000,26.000000,212.000000,-142.000000
max,10.000000,625.000000,1423.000000,249.000000,1307.000000,271.000000,141.000000,5224.000000,10019.000000,4188.000000,...,452.000000,271.000000,414.000000,101.000000,481.000000,485.000000,896.000000,110.000000,4920.000000,1356.000000

# class distribution

In [10]:
# class distribution
print(training_data.groupby('Class').size())

Class
0     91
1     35
2     81
3     59
4     34
5     25
6     47
7     54
8     29
9     43
10    24
dtype: int64

# Separation of labels and features

In [11]:
label_vectors = training_data['Class'].values
feature_vectors = training_data.drop(['Class'], axis=1).values
label_vectors

array([ 7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  1,  1,  1,  1,  1,  1,  1,
        1,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  6,  6,  6,  6,  6,  6,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  8,  8,  8,  8,  8,  8,  9,  9,
        9,  9,  9,  9,  9,  9,  9, 10, 10, 10, 10, 10, 10, 10, 10,  2, 10,
        4,  3,  0,  6,  0,  0,  3,  2,  9, 10,  7,  7,  2,  2,  5,  2,  0,
        9,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  9, 10,  9, 10, 10,  9,
       10,  2,  2,  2,  2,  2,  2,  2,  2,  2,  7,  7,  7,  7,  7,  7,  7,
        7,  7,  7,  7,  7,  7,  7,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  6,  6,  7,  7,  7,  7,  7,  7,  6,  7,  1,  1,  0,
        0,  0,  0,  1,  0,  2,  2,  1,  2,  2,  1,  1,  1,  1,  2,  2,  2,
        3,  3,  3,  3,  3,  3,  2,  2,  3,  3,  3,  3,  4,  4,  3,  4,  3,
        4,  4,  3,  4,  3,  5,  4,  4,  4,  4,  5,  4,  5,  5,  4,  5,  6,
        6,  6,  6,  6,  0,  0,  0,  0,  0,  0,  0,  0,  0,  7,  8,  7,  8,
        8,  8,  8,  9,  8,  9,  8,  8,  9,  9,  8,  9, 10, 10,  9, 10, 10,
       10,  9,  1,  9,  3,  3,  0,  5,  0,  0,  3,  2,  8,  9,  7,  7,  2,
        1,  4,  2,  0,  8,  3,  2,  3,  2,  2,  2,  2,  2,  3,  3,  8,  9,
        9,  9,  9,  9,  9,  2,  2,  2,  2,  2,  1,  2,  2,  1,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  7,  6,  6,  6,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  7,  6,  6,  6,  6,  6,  7,  7,  6,
        7,  0,  1,  0,  0,  1,  1,  0,  0,  2,  1,  2,  1,  2,  1,  2,  2,
        2,  2,  2,  2,  3,  3,  2,  2,  2,  2,  3,  2,  3,  2,  2,  3,  4,
        3,  4,  3,  3,  4,  3,  4,  3,  3,  4,  5,  5,  5,  4,  5,  4,  5,
        5,  4,  6,  5,  5,  6,  6,  6,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        7,  8,  7,  7,  8,  7,  8,  8,  9,  8,  8,  9,  8,  8,  8, 10, 10,
        9,  9,  9,  9, 10,  9,  1,  9,  3,  3,  0,  6,  0,  0,  3,  1,  9,
        9,  7,  7,  1,  1,  4,  2,  0,  8,  2,  2,  2,  2,  3,  2,  2,  2,
        2,  2,  9,  9,  9, 10, 10,  8,  9,  1,  2,  2,  1,  2,  2,  1,  1,
        1,  7,  6,  7,  7,  7,  6,  6,  7,  6,  7,  6,  6,  6,  6,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0], dtype=int64)

# Information scaling

In [24]:
scaler = preprocessing.StandardScaler().fit(feature_vectors)
feature_vectors_scaler = scaler.transform(feature_vectors)

# Information Split - without scaling

In [19]:
validation_size = 0.2
seed = 7
X_train, X_validation, Y_train, Y_validation = train_test_split(feature_vectors, label_vectors, test_size=validation_size, random_state=seed)
X_train.shape

(417, 12533)

# Information Split with scaling

In [20]:
validation_size = 0.2
seed = 7
X_trainScaler, X_validationScaler, Y_trainScaler, Y_validationScaler = train_test_split(feature_vectors_scaler, label_vectors, 
                                                                                        test_size=validation_size, 
                                                                                        random_state=seed)

# PCA - without scaling

In [21]:
pca = decomposition.PCA(n_components=0.96,svd_solver='full',tol=1e-4)
pca.fit(X_train)
X_trainPCA = pca.transform(X_train)
X_validationPCA=pca.transform(X_validation)
print('X_PCA:',X_trainPCA.shape)

X_PCA: (417, 98)

# PCA - with scaling

In [22]:
pca = decomposition.PCA(n_components=0.96,svd_solver='full',tol=1e-4)
pca.fit(feature_vectors)
feature_vectorsPCA = pca.transform(feature_vectors)

pca = decomposition.PCA(n_components=0.96,svd_solver='full',tol=1e-4)
pca.fit(feature_vectors_scaler)
feature_vectorsPCA_Scaler = pca.transform(feature_vectors_scaler)

pca = decomposition.PCA(n_components=0.96,svd_solver='full',tol=1e-4)
pca.fit(X_trainScaler)
X_trainPCAScaler = pca.transform(X_trainScaler)
X_validationPCAScaler=pca.transform(X_validationScaler)
print('X_PCA:',X_trainPCAScaler.shape)

X_PCA: (417, 138)